
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --Background1: #A0F1BD;
    --Background2: #F9F9F9;
    --accent1: #D2F8DC;
    --onaccent4: #D5E4D0;
    --Divider1: #2E4F21;
    --onaccent3: #7D9276;
    --Background3: #2E4F21;
    --onaccent1: #FFFFFF;
    --onaccent2: #506349;
    --Background4: #FFFFFF;
    --Paragraph: #2E4F21;
    --Divider2: #C7C7C7;
    --Background5: #F4F7F5;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
}

.header {
    position: fixed;
    background: var(--Background3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    width: 100%;
    height: 8rem;
    z-index: 10;
}

.logo-header {
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--Background2);
}

.logo-header img {
    width: 20rem;
}

.ul-nav {
    display: flex;
    gap: 3rem;
}

.menu-hamburguesa {
    display: none;
    z-index: 10;
}

.li-nav {
    list-style: none;
}

.link-nav {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--Background2);
    font-weight: 550;
    letter-spacing: 1px;
}

.li-nav:hover {
    text-decoration: underline 1.5px;
    text-decoration-color: var(--Divider2);
    text-underline-offset: 5px;
}

/* #guia-nav {
    text-decoration: underline 1.5px;
    text-decoration-color: var(--Background2);
    text-underline-offset: 5px;
} */



/*Main*/
main {
    padding: 12rem 0 0 0;
}
#toggle-menu {
    display: none;
}
.hola {
    margin: auto;
    text-align: center;
    color: #506349;
    height: fit-content;
    padding: 0 3rem 3rem 3rem;
    border-bottom: 2px solid rgb(199, 199, 199);
}

.hola > h1 {
    font-weight: 750;
    margin-bottom: 1.5rem;
}


.ctn-items {
    position: relative;
    padding: 12rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(30rem, 75rem));
    grid-auto-rows: auto;
    gap: 2rem;
    width: 100%;
    height: auto;
    background-color: var(--Background2);
    justify-content: center;
}

.titulo-articulos {
    position: absolute;
    top: 2rem;
    left: 3rem;
    color: var(--Background3);
    font-size: 2.8rem;
}

.titulo-articulos::after {
    content: '';
    background: var(--Background3);
    position: absolute;
    height: 4px;
    width: 80%; 
}



.item img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
}

.info-item h2 {
    font-size: 4rem;
    margin: 1.5rem 0;
    color: #2E4F21;
}

.info-item p {
    margin-bottom: 2.3rem;
    color: #506349;
}

.item {
    height: fit-content;
    border-radius: 1.6rem;
    background-color: white;
    box-shadow: 0 2px 12px rgba(46, 79, 33, 0.08);
    transition: 0.3s;
}

.item:hover {
    transform: translateY(-0.5rem);
}

.info-item {
    height: 40%;
    padding: 2rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fecha-item {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1rem;
    color: #506349;
}



/*Footer*/
footer {
    background-color: var(--Background3);
    display: flex;
    flex-direction: column;
    padding: 6rem 3rem 0rem 3rem;;
    /* border-top: 3px solid var(--Divider2); */
}

.div-footer h3 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: var(--Background2);
}

.div-footer  {
    border-top: 1px solid #9e9797;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto 3rem auto;
    padding: 1.5rem;
    color: var(--Background2);

}

.div-footer p {
    font-size: 1.5rem;
} 

.ctn-links-footer > a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--Background2);
}

.ctn-links-footer > a:hover { 
    text-decoration: underline 0.2rem; 
    text-underline-offset: 0.5rem; 
} 

.ctn-links-footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-inicio {
    border: none;
}

#cierre-footer {
    padding-top: 3rem;
}

@media (min-width: 1480px) {
    .titulo-articulos {
        left: 10%;
    }

    .titulo-articulos::after {
        left: 1rem;
    }
}

@media (max-width: 1480px) {
    .ctn-items {
        padding: 12rem 3rem;
    }
}

@media (min-width: 768px) {

    
    .empresa-footer {
        display: flex;
        width: 80%;
        margin: auto;
    }

    .div-footer {
        border: none;
    }

    #cierre-footer {
        border-top: 1px solid #9e9797;
    }
}

@media (max-width: 768px) {
    .barra-navegacion {
        z-index: 0;
        margin: 0 -3rem;
        position: absolute;
        top: -100vh;
        background: var(--Background3);
        height: calc(100vh - 8rem);
        width: 100%;
        transition: 0.4s ease;
    }

    .ul-nav {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 11rem;
    }

    .menu-hamburguesa {
        display: flex;
        flex-direction: column;
        width: 5rem;
        height: fit-content;
        border: 0;
        background: transparent;
        gap: 1rem;
    }

    .menu-hamburguesa div {
        background: var(--Background2);
        height: 2px;
        width: 70%;
        border-radius: 5px;
        transition: all 0.4s;
        transform-origin: left;
    }

    .link-nav {
        font-size: 3.8rem;
        font-weight: 480;
    }

    #toggle-menu:checked + .menu-hamburguesa > div:first-child {
        rotate: 45deg;
    }

    #toggle-menu:checked + .menu-hamburguesa > div:nth-child(2) {
        opacity: 0;
    }

    #toggle-menu:checked + .menu-hamburguesa > div:last-child {
        rotate: -45deg;
    }

    #toggle-menu:checked ~ .barra-navegacion {
        top: 8rem;
    }

    /*Main*/
    .ctn-items {
        grid-template-columns: repeat(1, minmax(30rem, 1fr));
    }
}

@media (max-width: 500px) {

    .ctn-items {
        padding: 20rem 3rem 12rem 3rem;
    }
}
